
body 
link(rel='stylesheet' href='css/homeirving.css')
// Caption on the left
figure.figure
  img.figure-img(src='img/cli.jpg' alt='')
  hr
  p Un rescatador de animales le entrega a la joven Emily un cachorro rojo que, en poco tiempo, se convierte en un sabueso gigante. Mientras su madre está viajando por negocios, Emily, el gran perro y su divertido e impulsivo tío viven una aventura. Fecha de estreno: 10 de noviembre de 2021
  hr
// Caption in the center
figure.figure
  img.figure-img(src='img/batmani.jpg' alt='')
  hr
  p Sinopsis El director Matt Reeves (películas de “El Planeta de los Simios”) está al frente con Robert Pattinson (“Tenet”, “El Faro”, “Good Time: Viviendo al Límite”) quien protagoniza a Batman —el detective vigilante de Ciudad Gótica— y a el multimillonario Bruce Wayne. Estreno Marzo 4 del 2022
  hr
// Caption on the right
figure.figure
  img.figure-img(src='img/squad.jpg' alt='')
  hr
  p Con tal de salir de una prisión infernal, los supervillanos más peligrosos del mundo aceptan una misión del Gobierno: viajar a una remota isla, enemiga de los Estados Unidos y repleta de soldados, para destruir un laboratorio de alta tecnología. Fecha de estreno: 6 de agosto de 2021 
  hr